@import "../../../styles.scss";

mat-list-item-content{
    border: 1px solid white;
}

.card {
  height: fit-content;
  border-radius: 10px;
  margin-top: 5px;
}

.icon {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: mat-color($dark-accent);
  border: 1px solid white;
  color: mat-color($dark-primary);
  ;
}

pre {
  white-space: pre-line;
  word-break: break-word;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
    margin-bottom: 0px; 
}