@import "../../../styles.scss";

.card {
  max-width: 400px;
  min-height: 282px;
  height: fit-content;
  border-radius: 10px;
}

.icon {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: mat-color($dark-accent);
  border: 1px solid white;
  color: mat-color($dark-primary);
  ;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}

.wrap {
  word-break: break-word;
}

.subtitle {
  color: mat-color($dark-accent);
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  margin-bottom: 0px; 
}

.progressspinner{
 color: "accent";
 position: relative;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #3fb53f;
}

.actionButton{
  margin-right: 0px !important;
}