@import "../../../styles.scss";

.card {
  max-width: 400px;
  height: 350px;
  border-radius: 10px;
}

.icon {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: mat-color($dark-accent);
  border: 1px solid white;
  color: mat-color($dark-primary);
  ;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}

.wrap {
  word-break: break-word;
}

.subtitle {
  color: mat-color($dark-accent);
}
