<mat-card class="card mat-elevation-z24">
  <mat-card-header>
    <div mat-card-avatar class="icon">
      <mat-icon>flight_takeoff</mat-icon>
    </div>
    <div *ngIf="loading">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <mat-card-title>
      <pre>{{container.Names}}</pre>
    </mat-card-title>
    <mat-card-subtitle>
      <span class="wrap"><b class="subtitle">Id:</b>{{container.Id}} </span>
      <br>
      <b class="subtitle">Image:</b> {{container.Image | slice:7:19}}
      <br>
      <b class="subtitle">State:</b> {{state}}
    </mat-card-subtitle>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <span>
    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item (click)="onLogs()">Logs</button>
        <button mat-menu-item>Logs</button>
    </mat-menu>
</span>
  <mat-card-content>
    <span margin="5px"> <b class="subtitle">Ports: </b>{{getPorts()}}</span>
    <br>
    <span margin="5px"> <b class="subtitle">Created: </b>{{+container.Created *1000 | date: 'dd.MM.yyyy hh:mm'}}</span>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="onRun()" mat-raised-button color="primary">Commit</button>
    <button class="actionButton" (click)="onInspect()" mat-raised-button color="primary">Inspect</button>
    <ng-container *ngIf="isRunning(); then running; else exited">
    </ng-container>
    <ng-template #exited>
      <button class="actionButton" (click)="onStart()" mat-raised-button color="primary">Start</button>
      <button class="actionButton" (click)="onRemove()" mat-raised-button color="primary">Remove</button>
    </ng-template>
    <ng-template #running>
      <button class="actionButton" (click)="onStop()" mat-raised-button color="primary">Stop</button>
      <button class="actionButton" (click)="onRestart()" mat-raised-button color="primary">Restart</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
<!-- *ngIf="loading" -->


