<div id="container">
  <div class="bgimg">
    <div class="imgBluBackground">
      <h1 class="title">Welcome</h1>
      <div class="cardContainer">
        <div class="card">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="icon">
                <mat-icon>image</mat-icon>
              </div>
              <mat-card-title>Images</mat-card-title>
              <mat-card-subtitle>Manage Docker Images</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button (click)="gotoRoute('/images-component')">GOTO</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="card">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="icon">
                <mat-icon>flight_takeoff</mat-icon>
              </div>
              <mat-card-title>Container</mat-card-title>
              <mat-card-subtitle>Manage Docker Container</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button (click)="gotoRoute('containers-component')">GOTO</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="card">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="icon">
                <mat-icon>autorenew</mat-icon>
              </div>
              <mat-card-title>Convert (TBA)</mat-card-title>
              <mat-card-subtitle>Convert Docker Databases</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button (click)="gotoRoute('convert-component')">GOTO</button>
            </mat-card-actions>
          </mat-card>
        </div>

      </div>
      <div class="info">
        <mat-card class="mat-elevation-z8">
          <h1 style="text-align: center;">Info Dashboard</h1>
          <hr>
          <div class="first">
            <h1 style="text-align: center;">Images</h1>
            <div class="row">
              <div style="justify-content: flex-start;" class="iconHolder">
                <mat-icon class="infoIcon">apps</mat-icon>
                <span style="vertical-align: middle;">Amount: {{info.Images}}</span>
              </div>
            </div>
          </div>
          <div class="second">
            <h1 style="text-align: center;">Containers</h1>
            <div class="infoWrapper">
              <div class="iconHolder">
                <mat-icon class="infoIcon">apps</mat-icon>
                <span style="vertical-align: middle;">Amount: {{info.Containers}}</span>
              </div>
              <div class="container">
                <div class="iconHolder">
                  <mat-icon class="infoIcon">speed</mat-icon>
                  <span style="vertical-align: middle;"> Running: {{info.ContainersRunning}}</span>
                </div>

              </div>
              <div class="row">
                <div class="iconHolder">
                  <mat-icon class="infoIcon">pause_circle_filled</mat-icon>
                  <span style="vertical-align: middle;">Paused: {{info.ContainersPaused}}</span>
                </div>
              </div>
              <div class="row">
                <div class="iconHolder">
                  <mat-icon class="infoIcon">highlight_off</mat-icon>
                  <span style="vertical-align: middle;">Stopped: {{info.ContainersStopped}} </span>
                </div>

              </div>
            </div>
          </div>

        </mat-card>
      </div>
    </div>


  </div>
  <div class="footer">
    <a href="http://gandalf/wiki/index.php/">Wiki</a>
  </div>
</div>
