<div>
    <mat-toolbar color="primary">
        <div class="navToggle">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <span style="margin-right: 5px;">
            <mat-icon [routerLink]="'/home'">cloud</mat-icon>
        </span>

        <span>Time Control High Performance Cluster (Beta)</span>

        <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar>
    <span>
        <mat-menu x-position="before" #menu="matMenu">
            <button mat-menu-item>Option 1</button>
            <button mat-menu-item>Option 2</button>
        </mat-menu>
    </span>
</div>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" (click)="sidenav.toggle()">
        <div>
        </div>
        <div class="row contentContainer">
            <div style="margin-bottom: 15px" [routerLink]="'/home'" class="row rowItem">
                <h4>Home</h4>
            </div>
            <div [routerLink]="'/images-component'" class="row rowItem">
                <h4>Images</h4>
            </div>
            <div [routerLink]="'/containers-component'" class="row rowItem">
                <h4>Container</h4>
            </div>
            <div style="margin-bottom: 15px" [routerLink]="'/convert-component'" class="row rowItem">
                <h4>Convert</h4>
            </div>
            <div style="margin-bottom: 15px" [routerLink]="'/faq-component'" class="row rowItem">
                <h4>FAQ</h4>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>