        <div class="row">
          <div class="col">
            <div class="headerbar">
              <mat-toolbar style="border-radius: 15px;" color="primary">
                <span style="margin-right: 10px;">Filter</span>
                <span>
                  <mat-form-field style="margin-top: 12px;">
                    <input matInput (keydown.enter)="onFilter()" [(ngModel)]="filter" (click)="filter=''">
                  </mat-form-field>
                </span>
                <button mat-icon-button (click)="onFilter()">
                  <mat-icon class="filtericon">filter_list</mat-icon>
                </button>
                <button mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </mat-toolbar>
              <span>
                <mat-menu x-position="before" #menu="matMenu">
                  <button mat-menu-item (click)="setCardView(true)">Card view</button>
                  <button mat-menu-item (click)="setCardView(false)">List view</button>
                </mat-menu>
              </span>
            </div>
            <div *ngIf="isCardView; else listView2" class="cardListFavorites" fxLayout="row wrap" fxLayoutAlign="flex-start" fxFlexAlign="stretch">
              <app-image class="cardListItem" *ngFor="let item of imageFavList" [image]=item></app-image>
            </div>
            <ng-template #listView>
              <app-image-list-item role="list" class="cardListItem" *ngFor="let item of imageFavList" [image]=item></app-image-list-item>
            </ng-template>
          </div>


          <div class="col">
            <div *ngIf="isCardView; else listView2" class="cardList">
              <app-image class="cardListItem" *ngFor="let item of imageList" [image]=item></app-image>
            </div>
            <ng-template #listView2>
              <app-image-list-item role="list" class="cardListItem" *ngFor="let item of imageList" [image]=item></app-image-list-item>
            </ng-template>
          </div>
        </div>
