@import "../../../styles.scss";

.card {
  max-width: 250px;
  height: 200px;
  border-radius: 10px;
}

.icon {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: mat-color($dark-accent);
  border: 1px solid white;
  color: mat-color($dark-primary);
  ;
}

pre {
  white-space: pre-line;
  word-break: break-word;
}

.mat-card-actions, .mat-card-subtitle, .mat-card-content {
  margin-bottom: 0px;
}

.subtitle {
  color: mat-color($dark-accent);
}

.actionButton{
  margin-right: 0px !important;
}
