@import "./../../../../styles.scss";

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formField {
  background-color: antiquewhite;
  color: black;
}

.toggleTitle {
  color: mat-color($dark-accent);
  margin-bottom: 0px !important;
}

p {}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  display: block;
  margin-bottom: 0px;
}

.item {
  border: 1px solid mat-color($dark-accent);
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
}

mat-raised-button{
    margin-right: 0px;
}
