.Dropzone {
    height: 200px;
    width: 200px;
    border: 2px dashed #8EDFAF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
  }
  
  .Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
    filter: invert(54%) sepia(71%) saturate(786%) hue-rotate(110deg) brightness(91%) contrast(101%);    }
  
  .FileInput {
    display: none;
  }