.Dropzone {
    height: 200px;
    width: 200px;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
  }
  
  .Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
    filter: invert(63%) sepia(57%) saturate(530%) hue-rotate(8deg) brightness(220%) contrast(99%);    }
  
  .FileInput {
    display: none;
  }